:root {
    --background: lightblue;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #281d1d;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-red: rgb(230, 16, 16);
    --btn-red-hover: rgb(154, 92, 92);
    --btn-red-active: #d88;
    --btn-blue: rgb(38, 38, 158);
    --btn-blue-hover: rgb(103, 103, 180);
    --btn-blue-active: rgb(53, 53, 161);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 320px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.2)
}

.screen {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 32px;
    font-size: 16px;
}

.screen-current {
    min-height: 64px;
    font-size: 40px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 16px;
    border: none;
    border-radius: 100%;
    background-color: var(--btn);
    font-size: 20px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.btn-red {
    background-color: var(--btn-red);
}

.btn-red:hover {
    background-color: var(--btn-red-hover);
    color: #eee;
}

.btn-red:active {
    background-color: var(--btn-red-active);
}

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-blue:hover {
    background-color: var(--btn-blue-hover);
}

.btn-blue:active {
    background-color: var(--btn-blue-active);
}

/* Disables input spinners in calc screen */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
